body {
  margin: 0;
  font-family: "Manjari", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 235px;
  margin-left: 14px;
}

.links {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-size: 19px;
  color: #323332;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  height: 40px;
}

.link:active {
  color: #323332;
}

.link:hover {
  color: white;
  background: #373737;
}
.banner {
  width: 1024px; /*ширина блока*/
  height: 540px; /*высота блока*/
  display: flex;
  align-items: center; /*центрирование по вертикале*/
  justify-content: space-between;
}
.ipad {
  margin-right: -150px;
}
.title-big {
  font-size: 44px;
}
.title-middle {
  font-size: 33px;
}
.banner-name {
  display: flex;
  flex-direction: column;
}
.banner-button {
  background: #373737;
  width: 205px;
  height: 40px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-button:hover {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.camera {
  margin-right: 10px;
}
.content {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}
.content-info {
  height: 1040px;
  width: 680px;
}
.ads {
  height: 1000px;
  width: 325px;
}
.slider {
  width: 100%;
  height: 242px;
  display: flex;
  position: relative;
}
.slider-img {
  width: 310px;
  height: 100%;
  /*background: #e6e6e6;
  box-shadow: inset -10px 0 100px 1px rgba(0, 0, 0, 0.6);*/
  background: radial-gradient(#e6e6e6, #a5a5a5);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-content {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: 320px;
  font-size: 12px;
}
.slider-title {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 17px;
}
.slider-buttons {
  width: 64px;
  height: 39px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.button-item {
  height: 100%;
  width: 32px;
  background-color: #989998;
  cursor: pointer;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
}
.button-item:hover {
  background-color: #7c7d7c;
}
.prev {
  border: 1px solid white;
  background-image: url(../images/strelka.png);
  transform: rotate(180deg);
}
.next {
  border: 1px solid white;
  background-image: url(../images/strelka.png);
}

.cards {
  width: 100%;
  height: calc(100% - 245px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-item {
  width: 215px;
  height: 215px;
  overflow: hidden;
}

.card-title {
  font-size: 20px;
}

.card-date {
  font-size: 12px;
  display: block;
  margin: 16px 0 19px 0;
}

.card-text {
  font-size: 12px;
  text-align: justify;
  display: block;
  width: 100%;
}

.ads-ipad {
  width: 100%;
  height: 250px;
  border: 1px solid#e5e1e1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
  box-sizing: border-box;
}
.ipad-titl-gray {
  color: #373737;
  margin-top: 21px;
}
.ipad-titl-green {
  color: #b8dc58;
  font-size: 28px;
  font-weight: 700;
}

.ipad-img {
  margin-top: 20px;
}

.weeks {
  height: 270px;
  width: 100%;
  background: #86e7f0;
  margin-top: 26px;
  position: relative; /* привязка абсолюта к родителю */
  padding-top: 122px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.weeks::after {
  content: "12 week"; /* создает объект дополнительный без создания доп. блока */
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #ef809f;
  position: absolute;
  left: calc(50% - 61px);
  top: -16px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 5px solid white;
  box-sizing: border-box;
  font-size: 37px;
  text-align: center;
}

.weeks-title {
  text-transform: uppercase;
  font-size: 33px;
  margin-bottom: 17px;
}
.weeks-text {
  width: 240px;
  letter-spacing: 3px;
  text-align: center;
}

.weeks-btn {
  width: 180px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  background: #58d1dc;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.form {
  width: 100%;
  height: 270px;
  background: #393a39;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 7px solid #bb4465;
  box-sizing: border-box;
  margin-top: 25px;
}

.form-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.form-text {
  width: 257px;
  font-size: 13px;
  margin-bottom: 16px;
  text-align: justify;
}

.form-inp {
  width: 257px;
  height: 26px;
  padding-left: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
  outline: none;
  border: none;
}

.form-btn {
  width: 180px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #bb4465;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.footer {
  width: 100%;
  height: 86px;
  background: #323332;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 1024px;
  text-align: center;
  margin-top: -16px;
  position: relative;
}

.share-link {
  text-decoration: none;
}

.share {
  width: 112px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: -35px;
  top: 0;
}

.hamburger {
  width: 80px;
  height: 80px;
  border: 2px solid #323232;
  cursor: pointer;
  border-radius: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.hamb-line {
  width: 60px;
  height: 3px;
  border: 1px solid #323232;
  background: #323232;
  position: relative;
}
.hamb-line:after {
  content: "";
  width: 60px;
  height: 3px;
  border: 1px solid #323232;
  background: #323232;
  position: absolute;
  left: -1px;
  top: -15px;
}
.hamb-line:before {
  content: "";
  width: 60px;
  height: 3px;
  border: 1px solid #323232;
  background: #323232;
  position: absolute;
  left: -1px;
  bottom: -15px;
}
@media screen and (max-device-width: 786px) {
  .hamburger {
    display: flex;
  }
  .links {
    display: none;
  }
}
@media screen and (max-device-width: 1024px) {
  .header-content {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
  .content-info {
    width: 100%;
  }
  .ads {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .cards {
    padding: 0 30px;
    box-sizing: border-box;
  }
  .footer {
    width: 1024px;
  }
.header {
    width: 1024px;
  }
  .card-item {
    height: auto;
  }
}
@media screen and (max-device-width: 1322px) {
  .banner {
    flex-direction: column-reverse;
    margin: 30px 0;
    width: 100%;
  }
  .ipad {
    margin-right: 0px;
  }
  .share {
    right: 20px;
  }
}
@media screen and (max-device-width: 786px) {

}

